{% extends "main_template.html" %}


{% block dynamic_js %}


$(document).ready(function() {
  
    $('#ksubmit').on('click',function(){
       var name, email, message;
       name = $('#kname-input').val();
       message = $('#kmessage-input').val();
       email = $('#kmail-input').val(); 

       if (name == '' || name.replace(/\s/g, '').length == 0 ){
           alert("دون اسمك من فضلك");
           return;
       } 
       if (name.length > 30){
           alert("الاسم لا يمكن ان يتجاوز 30 حرفا");
           return;
       }
       if ($('#kmessage-input').val() == ''){
           alert(" رسالتك فارغة");
           return;
       }      
     
       $(location).attr("href",'mailto:contact@arabicfinder.com?subject='+ 
                               name+'['+email+']'+
                               '&body='+message
       );
    });              

});

{% endblock %}

{% block main_content %}
<h3 class="ktitle">تواصلو معنا</h3>
<br>
<br>
<div class="kontact-container">
	<form class="kontact-form">
	<label for="kname-input" class="kontact-label">* الاسم</label>
	<input id="kname-input" type="text" class="kontact-input"  name="الاسم"/>
	<label for="kmail-input" class="kontact-label">البريد الالكتروني</label>
	<input id="kmail-input" type="text" class="kontact-input"  name="البريد الالكتروني"/>
	<label for="kmessage-input" class="kontact-label">الرسالة</label>
	<textarea id="kmessage-input" class="kontact-input" rows="5" cols="30"></textarea>
	<input id="ksubmit" type="submit" value="ارسل">
	</form>
</div>
{% endblock %}
