
{% extends "main_template.html" %}

{% block dynamic_js %}

 
var keys_map = {
      "alif":'ا', 
      "baa":'ب', 
      "taa" :'ت', 
      "thaa" :'ث', 
      "djim" :'ج', 
      "7a":'ح', 
      "5a":'خ', 
      "dal":'د', 
      "dhal":'ذ', 
      "ray":'ر', 
      "zay":'ز', 
      "sin":'س', 
      "chin":'ش', 
      "sad": 'ص', 
      "dad": 'ض', 
      "tta": 'ط', 
      "ddha": 'ظ', 
      "3in":  'ع', 
      "ghin":  'غ', 
      "pha": 'ف', 
      "9af": 'ق', 
      "kaf": 'ك', 
      "lam": 'ل', 
      "mim":"م", 
      "noun":'ن' , 
      "ha":'ه', 
      "waw":'و', 
      "ya":'ي', 
      "aliflam": 'خ',
      "raa": 'س', 
      "aliflam":'ﻻ',
      "tamaar":'ة',
      "alifya":'ى',
      "hamzawaw":'ؤ', 
      "hamza": 'ء', 
      "hamzayaa":'ئ',
      "fassila":",", 
      "soual":'؟',
      "kspace":"فراغ",
      "fassila":'،',
      "no9ta":'.',

      "char-1-1":"َ", 
      "char-2-1":"ً",
      "char-3-1":"ُ",
      "char-4-1":"ٌ",
      "char-5-1":"ﻹ",
      "char-6-1":"إ",
      "char-7-1":"`",
      "char-8-1":"÷",
      "char-9-1":"×",
      "char-10-1":"؛",
      "char-11-1":"<",
      "char-12-1":">",
      "char-1-2":"ِ",
      "char-2-2":"ٍ",
      "char-3-2":"]",
      "char-4-2":"[",
      "char-5-2":"ﻷ",
      "char-6-2":"أ",
      "char-7-2":"ـ",
      "char-8-2":"،",
      "char-9-2":"/",
      "char-10-2":":",
      "char-11-2":'"',
      "char-12-2":"µ",
      "char-1-3":"~",
      "char-2-3":"ْ ",
      "char-3-3":"}",
      "char-4-3":"{",
      "char-5-3":"ﻵ",
      "char-6-3":"آ",
      "char-7-3":"'",
      "char-8-3":",",
      "char-9-3":".",
      "char-10-3":"؟",
};

var azerty_map = {
      "²":'dhal',
      "a":'dad', 
      "z":'sad', 
      "e" :'thaa', 
      "r" :'9af', 
      "t" :'pha', 
      "y" :'ghin', 
      "u":'3in', 
      "i":'ha', 
      "o":'5a', 
      "p":'7a', 
      "^":'djim', 
      "$":'dal', 
      "q":'chin', 
      "s":'sin', 
      "d": 'ya', 
      "f": 'baa', 
      "g": 'lam', 
      "h": 'alif', 
      "j":  'taa', 
      "k":  'noun', 
      "l": 'mim', 
      "m": 'kaf', 
      "ù": 'tta', 
      "w":"hamzayaa", 
      "x":'hamza' , 
      "c":'hamzawaw', 
      "v":'ray', 
      "b":'aliflam', 
      "n": 'alifya',
      ",": 'tamaar', 
      ";":'waw',
      ":":'zay',
      "!":'ddha',
      "?":'soual',
      "kspace":" ", 

      "A":"char-1-1", 
      "Z":"char-2-1",
      "E":"char-3-1",
      "R":"char-4-1",
      "T":"char-5-1",
      "Y":"char-6-1",
      "U":"char-7-1",
      "I":"char-8-1",
      "O":"char-9-1",
      "P":"char-10-1",
      "¨":"char-11-1",
      "£":"char-12-1",
      "Q":"char-1-2",
      "S":"char-2-2",
      "D":"char-3-2",
      "F":"char-4-2",
      "G":"char-5-2",
      "H":"char-6-2",
      "J":"char-7-2",
      "K":"char-8-2",
      "L":"char-9-2",
      "M":"char-10-2",
      "%":"char-11-2",
      "µ":"char-12-2",
      "W":"char-1-3",
      "X":"char-2-3",
      "C":"char-3-3",
      "V":"char-4-3",
      "B":"char-5-3",
      "N":"char-6-3",
      "?":"char-7-3",
      ".":"char-8-3",
      "/":"char-9-3",
      "§":"char-10-3",
};

var qwerty_map={
      "`":'dhal',
      "q":'dad', 
      "w":'sad', 
      "e" :'thaa', 
      "r" :'9af', 
      "t" :'pha', 
      "y" :'ghin', 
      "u":'3in', 
      "i":'ha', 
      "o":'5a', 
      "p":'7a', 
      "[":'djim', 
      "]":'dal', 
      "a":'chin', 
      "s":'sin', 
      "d": 'ya', 
      "f": 'baa', 
      "g": 'lam', 
      "h": 'alif', 
      "j":  'taa', 
      "k":  'noun', 
      "l": 'mim', 
      ";": 'kaf', 
      "'": 'tta', 
      "z":"hamzayaa", 
      "x":'hamza' , 
      "c":'hamzawaw', 
      "v":'ray', 
      "b":'aliflam', 
      "n": 'alifya',
      "m": 'tamaar', 
      ",":'waw',
      ".":'zay',
      "/":'ddha',
      "kspace":" ", 

      "Q":"char-1-1", 
      "W":"char-2-1",
      "E":"char-3-1",
      "R":"char-4-1",
      "T":"char-5-1",
      "Y":"char-6-1",
      "U":"char-7-1",
      "I":"char-8-1",
      "O":"char-9-1",
      "P":"char-10-1",
      "{":"char-11-1",
      "}":"char-12-1",
      "A":"char-1-2",
      "S":"char-2-2",
      "D":"char-3-2",
      "F":"char-4-2",
      "G":"char-5-2",
      "H":"char-6-2",
      "J":"char-7-2",
      "K":"char-8-2",
      "L":"char-9-2",
      ":":"char-10-2",
      '"':"char-11-2",
      "|":"char-12-2",
      "Z":"char-1-3",
      "X":"char-2-3",
      "C":"char-3-3",
      "V":"char-4-3",
      "B":"char-5-3",
      "N":"char-6-3",
      "M":"char-7-3",
      "<":"char-8-3",
      ">":"char-9-3",
      "?":"char-10-3",
};

var qwerty_map={
      "`":'dhal',
      "q":'dad', 
      "w":'sad', 
      "e" :'thaa', 
      "r" :'9af', 
      "t" :'pha', 
      "y" :'ghin', 
      "u":'3in', 
      "i":'ha', 
      "o":'5a', 
      "p":'7a', 
      "[":'djim', 
      "]":'dal', 
      "a":'chin', 
};

var translit_map = {
 'd'  : "dal",
 '5'  : "5a",
 '7'  :"7a",
 'j'  :"djim",
 'g'  :"djim",
 'th' :"thaa",
 't'  :"taa",
 'b'  :"baa",
 'a'  :"alif",
 'gh' :"ghin",
 '3'  :"3in",
 'dh' :"ddha",
 't'  :"tta",
 'dd' :"dad",
 's'  :"sad",
 'sh' :"chin",
 'ch' :"chin",
 'c'  :"sin",
 'z'  :"zay",
 'r'  :"ray", 
 'y'  :"ya", 
 'w'  :"waw",
 'h'  :"ha",
 'n'  :"noun",
 'm'  :"mim",
 'l'  :"lam",
 'k'  :"kaf",
 '9'  :"9af",
 'f'  :"pha",
 ' '  :"kspace",
 '.'  :"no9ta",
 ','  :"fassila"
};

function canvas_write(key_id){
    var $canvas = $("#tcanvas");
    var curValue = $canvas.val();
    var newValue;
    $("."+key_id).trigger("fmouseenter");
    if (key_id.includes("koriginal")){
       key_id = key_id.substring(10, key_id.length);
    }
    if (key_id == 'erase'){
        newValue = curValue.substring(0, curValue.length - 1); 
    }else if (key_id == 'kspace'){
        newValue = curValue + " ";
    }else{
        newValue = curValue + keys_map[key_id];
    }
    $canvas.val(newValue);
    old_text_content = newValue; 
}
  
function map_keyboard(){
    for (var k in keys_map) { 
      $('p.koriginal.'+k).text(keys_map[k]);  
    }
}

function reset_checkboxes(){
   $("#translinput").attr("checked",false);
   $("#layout-switch").attr("checked",false);
}

function make_google_transliteration(control){
    var options = {
        sourceLanguage:
            google.elements.transliteration.LanguageCode.ENGLISH,
        destinationLanguage:
            [google.elements.transliteration.LanguageCode.ARABIC],
        transliterationEnabled: false
    };
    // Create an instance on TransliterationControl with the required
    // options.
    control =
        new google.elements.transliteration.TransliterationControl(options);

    // Enable transliteration in the textbox with id
    // 'transliterateTextarea'.
    control.makeTransliteratable(['tcanvas']);
    return control
}


function set_hover_effects(){
    //set hover effects on keys
    for (var k in keys_map)
    {
        $('.'+k).on("fmouseenter mouseenter", function(){
            $(this).css({"background":"#36367d","color":"white"}); 
            $(this).delay(300).queue(function (next) {
               $(this).css({"background":"white","color":"black"}); 
                       next();
                  });
        });
    }
    $('.erase').on("fmouseenter mouseenter", function(){
            $(this).css({"background":"darkred","color":"white"}); 
            $(this).delay(500).queue(function (next) {
                $(this).css({"background":"salmon","color":"black"}); 
                next();
            });
    });
    $('.shift').on("fmouseenter mouseenter", function(){
            $(this).css({"background":"darkred","color":"white"}); 
            $(this).delay(500).queue(function (next) {
                $(this).css({"background":"salmon","color":"black"}); 
                next();
            });
    });
}

function toggle_keyboard(){
   if ($("#translinput").is(":checked"))
       return;
   if($('#karab').attr('hidden') == "hidden"){
      $('#karab').attr('hidden',false);
      $('#karab-shift').attr('hidden',true);
   }else{   
      $('#karab-shift').attr('hidden',false);
      $('#karab').attr('hidden',true);
   }
}


var old_text_content = "";
$(document).ready(function() {
    map_keyboard();
    reset_checkboxes();    

    var control_translit;
    control_translit = make_google_transliteration(control_translit);

    set_hover_effects();

    $("#tcanvas").on("input", function(){
       var curVal = $(this).val();
       if (curVal.length > old_text_content.length)
       {
           lastChar = curVal[curVal.length - 1];
           var key_id;
           if ($("#translinput").is(":checked")){
                   key_id = translit_map[lastChar];
           }else{
               if ($("#layout-switch").is(":checked")) {
                   key_id = qwerty_map[lastChar];
               }else{
                   key_id = azerty_map[lastChar]; 
               }
           }
           if (key_id != null){
              $("."+key_id).trigger("fmouseenter");
              if (!$("#translinput").is(":checked")){
                  curVal = old_text_content + keys_map[key_id];
                  $(this).val(curVal);
              }
           }else if (lastChar == ' '){
              $(".kspace").trigger("fmouseenter");
           }
       }else{
           $(".erase").trigger("fmouseenter");
       }
       old_text_content = curVal;
    });

    $('#translinput').change( function(){
          if ($(this).is(':checked')){
              $('.translbox').css({"background":"#2875bd", "color":"white"});
              $('#karab-translit').attr('hidden',false);
              $('#karab').attr('hidden',true);
              $('#karab-shift').attr('hidden',true);
              control_translit.enableTransliteration();
          }else{
              $('.translbox').css({"background":"lightgray", "color":"black"});
              $('#karab').attr('hidden',false);
              $('#karab-translit').attr('hidden',true);
              control_translit.disableTransliteration();
          }
    });

    $("#layout-switch").on('click', function(){
          if ($(this).is(':checked')){
              $('.switch-on-p').css({"color":"#2875bd"}); 
              $('.switch-off-p').css({"color":"darkgray"}); 
          }else{
              $('.switch-on-p').css({"color":"darkgray"}); 
              $('.switch-off-p').css({"color":"salmon"}); 
          }
    });

    $(document).on('keydown', function(e){
        if ($("#translinput").is(":checked"))
            return;
        if(e.keyCode==16){
            $('#karab-shift').attr('hidden',false);
            $('#karab').attr('hidden',true);
            $(".shift").trigger("fmouseenter");
        }
    });
    $(document).on('keyup', function(e){
        if ($("#translinput").is(":checked"))
            return;
        if(e.keyCode==16){
            $('#karab').attr('hidden',false);
            $('#karab-shift').attr('hidden',true);
        }
    });
});
{% endblock %}

{% block main_content %}
    <h3 class="ktitle">لوحة المفاتيح</h3>
    <textarea id="tcanvas" rows="5" cols="65"></textarea> 
    <div class="keyboard-container">
      <div class="keyboard-options">
          <div class="translbox">
            <label for=translinput">نسخ لغوي</label>
            <input type="checkbox"  id="translinput" >
          </div>
          <p>|<p>
             <p class="switch-off-p">azerty</p>
          <label class="switch">
             <input id="layout-switch" type="checkbox">
             <span class="slider round"></span>
          </label>
             <p class="switch-on-p">qwerty</p>
      </div>
      <div class="lwm" id="karab" >
         <p class="koriginal dad" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal sad" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal thaa" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal 9af" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal pha" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal ghin" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal 3in" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal ha" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal 5a" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal 7a" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal djim" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal dal" onClick="canvas_write(this.className)" ></p>
         <br>
         <p class="koriginal chin" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal sin" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal ya" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal baa" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal lam" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal alif" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal taa" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal noun" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal mim" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal kaf" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal tta" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal dhal" onClick="canvas_write(this.className)" ></p>
         <br>
         <p class="koriginal shift" onClick="toggle_keyboard()" style="display:inline" >
	        <i class="far fa-arrow-alt-circle-up" ></i>&nbsp تحول
	 </p>
         <p class="koriginal hamzayaa" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal hamza" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal hamzawaw" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal ray" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal aliflam" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal alifya" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal tamaar" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal waw" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal zay" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal ddha" onClick="canvas_write(this.className)" ></p>
         <br>
         <p class="koriginal erase" onClick="canvas_write(this.className)" ><i class="fas fa-eraser"></i>.</p>
         <p class="koriginal fassila" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal kspace" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal no9ta" onClick="canvas_write(this.className)" >.</p> 
       </div>	

      <div class="lwm" id="karab-shift" hidden>
         <p class="koriginal char-1-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-2-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-3-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-4-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-5-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-6-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-7-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-8-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-9-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-10-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-11-1" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-12-1" onClick="canvas_write(this.className)" ></p>
         <br>
         <p class="koriginal char-1-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-2-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-3-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-4-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-5-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-6-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-7-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-8-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-9-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-10-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-11-2" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-12-2" onClick="canvas_write(this.className)" ></p>
         <br>
         <p class="koriginal shift" onClick="toggle_keyboard()" style="display:inline" >
	     <i class="far fa-arrow-alt-circle-up" ></i>&nbsp تحول
	 </p>
         <p class="koriginal char-1-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-2-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-3-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-4-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-5-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-6-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-7-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-8-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-9-3" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal char-10-3" onClick="canvas_write(this.className)" ></p>
         <br>
         <p class="koriginal erase" onClick="canvas_write(this.className)" ><i class="fas fa-eraser"></i>.</p>
         <p class="koriginal fassila" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal kspace" onClick="canvas_write(this.className)" ></p>
         <p class="koriginal no9ta" onClick="canvas_write(this.className)" >.</p> 
       </div>	


       <div  class="spk" id="karab-translit" hidden>
         <p class="dhal" onClick="canvas_write(this.className)" >dh&nbsp(ذ)</p>
         <p class="dal" onClick="canvas_write(this.className)" >d&nbsp(د)</p>
         <p class="5a" onClick="canvas_write(this.className)" >5&nbsp(خ)</p>
         <p class="7a" onClick="canvas_write(this.className)" >7&nbsp(ح)</p>
         <p class="djim" onClick="canvas_write(this.className)" >j-g&nbsp(ج)</p>
         <p class="thaa" onClick="canvas_write(this.className)" >th&nbsp(ث)</p>
         <p class="taa" onClick="canvas_write(this.className)" >t&nbsp(ت)</p>
         <p class="baa" onClick="canvas_write(this.className)" >b&nbsp(ب)</p>
         <p class="alif" onClick="canvas_write(this.className)" >a&nbsp(ا)</p>
         <br>
         <p class="ghin" onClick="canvas_write(this.className)" >gh (غ)</p>
         <p class="3in" onClick="canvas_write(this.className)" >3 (ع)</p>
         <p class="ddha" onClick="canvas_write(this.className)" >dh (ظ)</p>
         <p class="tta" onClick="canvas_write(this.className)" >t (ط)</p>
         <p class="dad" onClick="canvas_write(this.className)" >dd (ص)</p>
         <p class="sad" onClick="canvas_write(this.className)" >s (ض)</p>
         <p class="chin" onClick="canvas_write(this.className)" >sh (ش)</p>
         <p class="sin" onClick="canvas_write(this.className)" >c (س)</p>
         <p class="zay" onClick="canvas_write(this.className)" >z (ز)</p>
         <p class="ray" onClick="canvas_write(this.className)" >r (ر)</p>
         <br>
         <p class="ya" onClick="canvas_write(this.className)" >y (ي)</p>
         <p class="waw" onClick="canvas_write(this.className)" >w (و)</p>
         <p class="ha" onClick="canvas_write(this.className)" >h (ه)</p>
         <p class="noun" onClick="canvas_write(this.className)" >n (ن)</p>
         <p class="mim" onClick="canvas_write(this.className)" >m (م)</p>
         <p class="lam" onClick="canvas_write(this.className)" >l (ل)</p>
         <p class="kaf" onClick="canvas_write(this.className)" >k (ك)</p>
         <p class="9af" onClick="canvas_write(this.className)" >9 (ق)</p>
         <p class="pha" onClick="canvas_write(this.className)" >f (ف)</p>
         <br>
         <p class="erase" onClick="canvas_write(this.className)" ><i class="fas fa-eraser"></i>.</p>
         <p class="fassila" onClick="canvas_write(this.className)" >،</p>
         <p class="kspace" onClick="canvas_write(this.className)" >فراغ</p>
         <p class="no9ta" onClick="canvas_write(this.className)" >.</p> 
       </div>
     </div>	
     <div class="message-container kmargin">
       <h3 class="ktitle titlelocal">كيفية الاستعمال<h3> 
       <p class=""> </p>
     </div>
{% endblock %}
      

