
{% load static %}

<html lang="ar">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="stylesheet" type="text/css" href={% static "pstyles.css" %}>
    <link rel="shortcut icon" type="image/x-icon" href={% static "favicon.ico" %} />
    <!--<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet"> -->
    <!--<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->

    <!--<script src="https://use.fontawesome.com/fd5d71e4bc.js"></script>-->
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>-->
    <script type="text/javascript" src={% static "js/jquery-3.2.1.min.js" %}></script> 
    <script type="text/javascript" src={% static "js/fontawesome-all.js" %}></script>  
    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script> 
    <script type="text/javascript">
      // Load the Google Transliterate API
      google.load("elements", "1", {
            packages: "transliteration"
          });
    </script>

    <script>
        {% block dynamic_js %}
        {% endblock %}
    </script>

    <title>arabic keyboard | لوحة المفاتيح</title>
    <meta name="viewport" content="initial-scale=1.0,  maximum-scale=1.0, width=device-width">
  </head>
  <body>
    <div class="container">
       <div class="head-banner">
           <div class="head-logo">    
               <h3>لاقي عربي</h3>
          </div>
          <div id="socialm-links">
              <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
              <a href=""> <i class="fab fa-facebook-square fa-2x"></i></a>
              <p>&nbsp  تابعونا على</p>
          </div>
       </div>
       <div class="core-content">
          <div class="lateral-tab">
            <a href="">لوحة المفاتيح &nbsp<i class="fas fa-keyboard"></i></a> 
            <a href=""> &nbsp<i class="fas fa-keyboard"></i></a> 
            <a href="">تواصلو معنا &nbsp <i class="fas fa-users"></i></a> 
          </div>
          <div class="spacer">
             <p> </p>
          </div>
          <div class="main-tab">
              {% block main_content %}    
              {% endblock %}   
          </div>
          <div class="left-tab"> 
          </div>
       </div> 
    </div>
    <div class="foot-banner">
        <p>تصميم مايلاب  | اصدار 1.0</p> 
    </div>  
  </body>
</html>
