@import url('https://fonts.googleapis.com/css?family=Changa');

* {
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family: 'Changa', sans-serif;
 /*border:1px solid black;*/
}

body{
  background:lightgrey;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;  
}

body, html{
  height:100%;
}

.container{
  text-align: center;
  position:relative;
  min-height:100%;
  margin:0 auto;
}

div.head-banner{
  background:#003366;
  background-size:cover;
  width:100%;
  height:3em;
  max-height:20%;
  top:0px;
  margin-left:0px;
  text-transform:uppercase;
  position:fixed;
  z-index: 999;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 20%);
}

div.head-logo{
  background:#99ccff;
  color:#001a33;
  position:relative;
  float:right;
  padding:0 0.5% 0 0.5%;
  margin-top:0.25%;
  margin-right:0.25%;
  border-radius:8px;
}

.core-content{
  background:inherit;
  position:relative;
  width:100%;
  min-height:100%;
}

.main-tab{
  background:white;
  width:65%;
  min-width:40%;
  min-height:100%;
  position:absolute;
  right:15%;
  text-align:center;
  padding-top:6em;
  /*box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);*/
  padding-bottom:10%;
  border:solid 1px lightgray;
}

.spacer{
 width:15%;
 position:relative;
 float: right;
}

.left-tab{
  width:35%:  

} 

/****** keyboard options *****************/
.keyboard-options{
  width:100%;
  border-bottom:1px solid darkgray;
  min-height:7%;
}

.keyboard-options p{
  display:inline;
  padding:0% 5% 0% 8%;
  color:darkgray;
}

.translbox{
  background:lightgray;
  padding:4px 2px 0px 9px; 
  border-radius:10px;  
  text-align:right;  
  font-size:small;
  width:15%;
  right:0px;
  display:inline;
}
#translinput {
  text-decoration:none;    
}

p.switch-off-p {
  color:salmon;
  padding:0;
}
p.switch-on-p {
  color:darkgray;
  padding:0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin:0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: salmon;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*************************************************/

#tcanvas{
  text-align:right;
  direction:rtl;
  float:right;
  width:90%;
  margin-right:5%;
}

.keyboard-container {
  background:lightgray;
  width:90%; 
  margin-top:3%;
  margin-left:4%;
  margin-right:5%;
  padding: 4px;
  float:right;
  border:solid 1px darkgray;
}

.lwm{
 padding-top:2%;
}

.lwm p{ 
  background:white ;
  color:black;
  width:3.5em;
  border-radius:3px;
  margin-top:3%;
  margin-right:0.5%; 
  padding: 5px 2% 0 2%;
  border:solid 1px darkgray;
  text-decoration:none;
  font:bold;
  display:inline-block;
}

.spk p{
  background:white ;
  color:black;
  /*width:4em;*/
  padding:0.5em 1em 0 1em;
  margin-top:2%;
  border:solid 1px darkgray;
  text-decoration:none;
  font:bold;
  display:inline-block;
}

.lwm p.kspace{
  padding: 5px 15% 0 13%;
}

.lwm p.erase{
  background:salmon;
}
.lwm p.erase:hover{
  background:darkred;
  color:white;
}

.lwm p:hover{ 
  background:#36367d;
  color:white; 
  border: solid 1px lightgray;
  cursor:pointer;
}

.spk p.kspace{
  padding: 5px 15% 0 15%;
}

.spk p.erase{
  background:salmon;
}
.spk p.erase:hover{
  background:darkred;
  color:white;
}

.spk p:hover{ 
  background:#36367d;
  color:white; 
  border: solid 1px lightgray;
}
.ahover{ 
  background:#36367d;
  color:white; 
  border: solid 1px lightgray;
}

.lateral-tab{
  background:#94b4d1;
  width:15%;
  height:100%;
  position:fixed;
  padding-top:15%;
  padding-bottom:30%;
  text-align:right;
  right:0;
  z-index:300;
  border:solid 1px #e7e7e7;
  box-shadow: -5px 1px 5px 1px rgba(0, 0, 0, 15%);
}

.lateral-tab a{
  display:block;
  width:100%;
  background:#e7e7e7;
  padding-right:2px;
  margin:1px 0px 0px 0px; 
  color:black;
  text-decoration:none;
  
}

.lateral-tab a:hover{
  background:#2875bd;   
  color:white;
  font-weight:bold;
  font:bold;
}

.foot-banner{
  background:#003366;
  background-image: linear-gradient(#003366, #003566);
  color:white;
  background-size:cover;
  position:fixed;
  width:100%;
  height:5%;
  bottom:0px;
  z-index:300;
  text-align:right;
  padding-right:5px;
  text-transform:uppercase;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 20%); 
}

.big-an {
  font-size:100;
  color:darkblue;
}

/******* contact page styles****/
.kontact-form{
  margin-bottom:10%
}

.kontact-label{
  text-align:right;
  margin-right:10%;
  display:block;
}

.kontact-form input,textarea{
  direction:rtl;
  width:80%;
  left:0;
  padding:8px;  
  border: 1px solid #ccc; 
}

#ksubmit{
  width:10%;
  display:block;
  margin-left:45%;
  margin-top:5%;
  font:bold;
}

/******** social media links *********/
#socialm-links{
 position:relative;
 float:left;
 top:10%;
 margin-left:1%;
}
#socialm-links p{
 display:inline;
 color:white;
 font:bold;
}
#socialm-links a{
  text-decoration:none; 
  color:white;
  padding-top:10%;
  display:inline;
}

#socialm-links a:hover{
  color:red;   
}

